<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Find users</title>
</head>
<body>
    <h1>Find users by login</h1>

    <form>
        <label for="search-field">Search:</label>
        <input minlength="1" maxlength="32" id="search-field" type="text"/>

        <button onclick="findUser()">Find</button>
    </form>

    <script>
        function findUser() {
          const inputValue = document.getElementById("search-field").value;
          const currentUrl = window.location.href;
          const targetUrl = `${currentUrl}/${inputValue}`;
          window.location.href = targetUrl;
        }
    </script>
</body>
</html>